.calculator {
  width: 300px;
  margin: auto;
  padding: 10px;
  border: 1px solid #23d7fb;
  border-radius: 5px;
}

.display {
  margin-bottom: 10px;
  color:#2e65de;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
}

.result {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #0bcee8;
  border-radius: 5px;
  color: rgb(1, 12, 12);
  font-size: larger;
  font-style: italic;
  text-align: center;
  text-decoration-color: black;
  
}

button:hover {
  background-color: #2e65de;
}
