header {
    height: 200px;
    width: 100%;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 4px;
    font-size: medium;
    font-style: oblique;
    font-weight: 1000;
}

body {
}
p{
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    text-shadow: 2pc;
    font-size: larger;
    font-display: bold;
    font-style: oblique;
    height: 25%;
    width: 100%;
 padding-bottom: 0px;

}
