body {
  margin: 3;
  padding: 3;
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
}

.box-corner {
  position: relative;
  top: 500px;
  right: 100px;
  background-color: #14b8cb;
  border: 1px solid #f70707;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(20, 0, 0, 0.874);
}

.time-info,
.calculator-section,
.go-to-calculator {
  padding: 20px;
  border: 1px solid #d02525;
  border-radius: 8px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  margin-top: auto;
  padding: auto;
  text-align: center;
}

/* Add other styles as needed */

